---
layout: base.njk
title: bruton.tech
---
        <p>Hello! I am a network engineer living in the Los Angeles area.
        I work at Caltech in the <a href="http://www.seismolab.caltech.edu/index.html">seismo lab</a>.
        I curl with <a href="https://www.hollywoodcurling.org">Hollywood Curling</a>.
        My pronouns are he/him/his. I'm originally from Canada and I used to live in Alaska.</p>
        <p>That about sums it up. Check out my full <a href="/bio/">bio</a> or see what I'm
            up to <a href="/now/">now</a>.</p>

        <h2>Latest Journal Entries</h2>
        <ol>
        {% for post in collections.journal | reverse | limit(5) -%}
          <li><a href="{{ post.url }}">{{ post.data.title }}</a></li>
        {% endfor -%}
        </ol>

        <h2>My Links</h2>
        <ol>
            <li>E-mail me: <a href="mailto:chris@bruton.tech">chris@bruton.tech</a></li>
            <li><a href="http://www.seismolab.caltech.edu/bruton_c.html">Seismo lab profile</a></li>
            <li><a href="https://github.com/cpbruton/">GitHub</a></li>
            <li><a href="https://www.strava.com/athletes/cpbruton">Strava</a></li>
        </ol>
        <p>I have <a href="/journal/reinventing-my-virtual-life/">eliminated</a> most of my social media.</p>
