---
sitetitle: christopher bruton
title: base
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} : {{ sitetitle }}</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="alternate" type="application/atom+xml" href="/feed.xml" title="Atom feed">
</head>

<body>
    <div id="header-container">
        <h1>Christopher P. Bruton</h1>
        <nav>
            <div><a href="/">home</a></div>
            <div><a href="/bio/">bio</a></div>
            <div><a href="/now/">now</a></div>
            <div><a href="/journal/">journal</a></div>
        </nav>
    </div>
    <main>
      {{ content | safe }}
    </main>

    <footer id="page-footer">
        <p>&copy; 2021 Christopher P. Bruton</p>
    </footer>

</body>
</html>
