---
title: journal
layout: base.njk
---
<p>Here's where I post about my thoughts, ideas, and interesting happenings in
my life. This is obviously very new, and a bit of an experiment to see what I
enjoy writing about. My goal is not to be technical or super polished&mdash;this
isn't a professional blog.</p>
<h2>Journal Entries</h2>
<ul>
{%- for post in collections.journal | reverse -%}
  <li><a href="{{ post.url }}">{{ post.data.title }}</a></li>
{%- endfor -%}
</ul>
