---
title: journal
layout: base.njk
---
<ul>
{%- for post in collections.journal | reverse -%}
  <li><a href="{{ post.url }}">{{ post.data.title }}</a> : {{ post.date.toDateString() }}<br />
    {{ post.templateContent | striptags | truncate(50) }}</li>
{%- endfor -%}
</ul>
